{% extends "base.html" %}


{% block content %}
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Наименование объекта</th>
      <th>Адрес объекта</th>
      <th>Описание объекта</th>
      <th>Инструменты</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Название объекта 1</td>
      <td>Адрес объекта 1</td>
      <td>Описание объекта 1</td>
      <td>
        <button type="button" class="btn btn-primary">Редактировать</button>
        <button type="button" class="btn btn-danger">Удалить</button>
        <button type="button" class="btn btn-success">Сохранить изменения</button>
      </td>
    </tr>
    <tr>
      <td>Название объекта 2</td>
      <td>Адрес объекта 2</td>
      <td>Описание объекта 2</td>
      <td>
        <button type="button" class="btn btn-primary">Редактировать</button>
        <button type="button" class="btn btn-danger">Удалить</button>
        <button type="button" class="btn btn-success">Сохранить изменения</button>
      </td>
    </tr>
    <!-- Добавьте другие строки таблицы, если необходимо -->
  </tbody>
</table>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




{% endblock %}