{% extends "base.html" %}


{% block content %}
<br>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <img src="apartments.jpg" alt="Апартаменты" class="img-fluid rounded">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <h1>{{ apartment.title }}</h1>
      <p><strong>Уровень комфорта:</strong> {{ apartment.comfort }}</p>
      <p><strong>Оплата:</strong> {{ apartment.payment }}</p>
      <p><strong>Адрес:</strong> {{ card.country }}, {{ card.city }}, {{ card.address }}</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h2>Подробное описание</h2>
      <p>{{ apartment.description }}</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <button type="button" class="btn btn-primary">Забронировать</button>
    </div>
  </div>
</div>

{% endblock %}