{% extends "base.html" %}


{% block content %}
<br>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <img src="apartments.jpg" alt="Апартаменты" class="img-fluid rounded">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <h1>Апартаменты "Комфорт"</h1>
      <p><strong>Уровень комфорта:</strong> Высокий</p>
      <p><strong>Оплата:</strong> Безналичная, Наличные</p>
      <p><strong>Адрес:</strong> г. Москва, ул. Пушкина, д. 12, кв. 34</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h2>Подробное описание</h2>
      <p>Апартаменты "Комфорт" - это прекрасное решение для тех, кто ценит уют и комфорт. Здесь вы найдете все необходимое для комфортного проживания: шикарный дизайн, современную мебель, полное оснащение кухни и ванной комнаты, быструю беспроводную сеть Wi-Fi.</p>
      <p>Наши апартаменты расположены в самом центре города, рядом с основными достопримечательностями и развлекательными заведениями. Вы сможете легко добраться до любой точки города, используя общественный транспорт или такси.</p>
      <p>Мы предлагаем гибкие условия бронирования и оплаты, а также готовы предоставить дополнительные услуги по вашему запросу. Свяжитесь с нами сейчас, чтобы узнать больше о наших апартаментах и забронировать их для вашего комфортного проживания!</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <button type="button" class="btn btn-primary">Забронировать</button>
    </div>
  </div>
</div>

{% endblock %}