{% extends "base.html" %}


{% block content %}

<div class="container mt-2">
    <h1>О нас</h1>
    <p>EasyNest - это сервис для бронирования жилья, который помогает путешественникам найти идеальное место для проживания в любой точке мира. Мы предлагаем широкий выбор вариантов размещения, от квартир и домов до отелей и хостелов, по доступным ценам.</p>
    <h2>Наша миссия</h2>
    <p>Наша миссия - сделать путешествия проще и более комфортными для всех. Мы стремимся предоставить нашим клиентам надежные и удобные решения для бронирования жилья, чтобы они могли сосредоточиться на важных моментах путешествия, а не беспокоиться о мелочах.</p>
    <h2>Наша команда</h2>
    <p>Наша команда состоит из профессионалов в области туризма и IT-технологий, которые работают вместе, чтобы создать лучший сервис для бронирования жилья. Мы ценим каждого клиента и стараемся предоставить ему максимально комфортное и приятное пребывание.</p>
    <h2>Контакты</h2>
    <p>Если у вас есть вопросы или предложения, свяжитесь с нами по электронной почте <a href="mailto:info@easynest.com">info@easynest.com</a> или по телефону <a href="tel:+1234567890">+1 234 567 890</a>.</p>
    <div class="text-center mt-5">
      <img src="/static/img/about.jpeg" alt="Our team" class="img-fluid" style="width: 50%;">
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}